.PageWrapper {
    max-width: 900vh;
    margin: auto;
}

.App-section {
    padding: 90px 60px;
    background-color: lightgrey;
}

.App-wrapper {
    display: flex;
    flex-flow: row wrap;
    background-color: whitesmoke;
}