.Pokedex-wrapper {
    display: flex;
    flex-flow: row wrap;
    background-color: whitesmoke;
    justify-content: center;
}

.Pokedex-header {
    padding: 24px;
    text-align: center;
    margin: 30px
}



.Winner {
    padding: 12px;
    text-align: center;
    color: lightseagreen;
}
.Looser {
    padding: 12px;
    text-align: center;
    color: crimson;
}